/* App.css */
.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #1a1a1a;
  color: white;
  width: 250px;
  padding: 20px;
}

.dashboard-title {
  margin-bottom: 30px;
}

.menu-items {
  display: flex;
  flex-direction: column;
}

.menu-item {
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.menu-item:hover,
.menu-item.active {
  background-color: #333333;
}

.menu-item:hover {
  color: white;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.page-title {
  color: #333333;
  margin-bottom: 20px;
}

.page-content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
